

body{
	background: url("../img/lunettes.jpg");
	font-family: consolas,monospace;
	font-size: 25px;
	color: white;
	justify-content: center;
	margin: 10vw;
}
p{
	color: white
}
h1{
	font-size: 75px;
}

a{
	color:white;
}

a:hover{
	color: black;
	
}
footer{
	border-color: white
}

