
html {
    height: 100%;
    display: table;
    margin: auto;
}

body{
    display: table-cell;
    vertical-align: middle;
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;    
    height: 100vh;
    text-align: center;
}

p{
    padding-top: 5px;
    padding-bottom: 5px;
}
a{
    color: brown;
}

a:hover{
    color: chocolate;
}

a:visited{
    color:orangered
}

svg {
    width: 2em;
    height: 2em;
    border-radius: 3px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.card:hover {
    --color: lightgreen
    background-color: var(--color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: var(--color);
    box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 50px var(--color), 0 0 200px var(--color);
}

button {
    background-color: bisque;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

button:hover {
    background-color: whitesmoke;
}