
body{
	background: url("img/lunettes.jpg");
	font-family: consolas,monospace;
	font-size: 25px;
	color: white;
	margin: 10vw;
}
#menu-outer {
	height: auto;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: auto ;
}

ul#horizontal-list {
	list-style: none;
	padding-top: 0;
	}
	ul#horizontal-list li {
		display: inline;
	}
img{
	width:  10vw;
}
a{
	color: white;
}
a:visited{
	text-decoration: none
}
a:hover{
	color: rgb(200,200,200);
}
