
body{
	margin: 5vw;
	background-color:rgb(50,0,0);
	color: white;
	font-family: sans-serif;
	font-size: 1vw;
}
h1{
	color: #fadb44;
}
a{
	text-decoration: none;
	color: white;
	background-color: #03DAC6;
	box-shadow: 3px 3px 3px blue;
	border-radius: 5px;
	padding:  .5vw;
}
a:hover{
	
	background-color: #fadb44;
	box-shadow: 3px 3px 3px #ff7373;
}