
body{

	margin: 10vw;
	background: rgb(50,0,0);
	font-family: cursive;
	color: white;
	font-size: 25px;
	
}

h1{
	text-align: center; 
	background-color:#ff7373 ;
	box-shadow:3px 3px 3px #fadb44;
	border-radius: 100px;
	padding: 1vw;
	margin: 10vw;
	margin-bottom: 1vw;
}
h2{
	color: #fadb44;
	font-family: sans-serif;
	margin: none;
}

table{
	margin-bottom: 50px;
}
a{
	justify-content: center;
	color: white;
	text-decoration: none;/*pour elenver les préféets*/
	background-color: #00c0a0;
	border-radius:50px;
	width: 90%;
	box-shadow:3px 3px 3px blue;
	padding: 0.5vw;
}
a:hover{
	background-color: #fadb44;
	box-shadow:3px 3px 3px #ff7373;
}
