
body{
	justify-content: center;
	margin: 10vw;
	background: rgb(50,0,0);
	font-family: cursive;
	color: white;
	font-size: 25px;
	
}

h1{
	text-align: center; 
	background-color:#ff7373 ;
	box-shadow:3px 3px 3px #fadb44;
	border-radius: 100px;
	padding: 1vw;
	margin: 10vw;
	margin-bottom: 1vw;
}
h2{
	color: #ff7373;
	font-family: sans-serif;
	margin: none;
}
div{
	float: left;
	margin: 1vw;
}
div.prems{
	margin-left: 0px;
}
div.glob{
	float: top;
	padding:  1vw;
}
a{
	float:  left;
	color: white;
	text-decoration: none;/*pour elenver les préféets*/
	background-color: #03DAC6;
	border-radius:1vw;
	width: 33%;
	box-shadow:3px 3px 3px blue;
	padding: 0.5vw;
	overflow-wrap: true;
}
a:hover{
	background-color: #fadb44;
	box-shadow:3px 3px 3px #ff7373;
}
